input{
    margin: 10px;
}
button{
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 80px;
    background-color: green;
    font-size: 15px;
}
#sort_button, #button_back{
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}